@media screen and (min-width: 576px) {
}

@media screen and (min-width: 992px) {
	.navbar{
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.navbar .has-megamenu {
		position: static!important;
	}
	
	.navbar .megamenu {
		left: 0;
		right: 0;
		width: 100%;
		padding: 20px 0;  
		background-color: #FAFAFA;
		margin-top: 0;
		border-radius: 0;
		border: 0;
	}

	.navbar .nav-link {
		padding-top: 1rem;
		padding-bottom: 1rem;  
	}

	.navbar .megamenu:before,
	.navbar .megamenu:after {
		content: '';
		background-color: #fafafa;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		z-index: -1;
	}

	.navbar .megamenu:before {
		left: -50%;
	}

	.navbar .megamenu:after {
		right: -50%;
	}

	.navbar .megamenu .nav-link-all {
		font-size: 16px;
	}

	.navbar .megamenu .col-megamenu-link {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.navbar .megamenu .col-megamenu-link ul {
		margin-top: auto;
		text-align: right;
	}

	.card-service-sticky.sticky {
		position: fixed;
		bottom: 70px;
	}
}

@media screen and (min-width: 1440px) {
	.modal.modal-right .modal-dialog {
		max-width: 90%;
	}
}

@media screen and (max-width: 991px) {
	.section-title h1.title-xl, .section-title h2.title-xl, .section-title h3.title-xl, .section-title h4.title-xl {
		font-size: 28px;
	}

	.section-title h1.title-lg, .section-title h2.title-lg, .section-title h3.title-lg, .section-title h4.title-lg {
		font-size: 24px;
	}

	.section-title h1.title-md, .section-title h2.title-md, .section-title h3.title-md, .section-title h4.title-md {
		font-size: 20px;
	}

	/* HEADER */

	.header {
		padding: 10px 0;
		background-color: #FFFFFF;
	}

	.header-sticky {
		padding: 5px 0;
	}

	.header-sticky + .section-filter-top {
		position: inherit;
		top: 0;
		animation: none;
	}

	.header .navbar-bottom {
		margin-top: 0;
	}

	.header .navbar-nav .nav-link {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar .megamenu {
		border: 0;
		padding: 0;
		margin: 0;
		padding-left: 15px;
	}

	.navbar .megamenu .col-megamenu li a {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.header .navbar-nav .nav-link::before {
		bottom: 0;
	}

	/* HOME PAGE */

	.search-tab {
		margin: 0 auto;
		left: 0;
		right: 0;
	}

	/* FILTER SECTION */

	.col-lg-4:not(:last-child) .filter-box {
		margin-bottom: 16px;
	}

	.filter-wrap .filter-sort {
		margin-left: 20px;
	}

	/* PROFILE PAGE */

	.section-about {
		padding-bottom: 50px;
	}

	.section-about-page .section-about-banner {
		margin-bottom: 15px;
		background-image: none !important;
		min-height: 0;
	}

	.about-facility-list-item .icon {
		font-size: 24px;
	}

	.about-facility-list-item .icon-unisex,
	.about-facility-list-item .icon-credit-card {
		font-size: 20px;
	}
	
	.about-facility-list-item .icon-chevron-down,
	.card-service-list-price .icon-chevron-down {
		font-size: 8px;
	}

	.section-about-page .card-service {
		position: fixed !important;
		display: none;
		max-width: 100%;
		top: 0;
		left: 0;
		z-index: 5;
		height: 100%;
	}

	.card-service {
		margin: 0 auto;
		position: initial; !important;
		max-width: 320px;
	}

	.about-facility-list,
	.about-service,
	.about-team {
		margin-bottom: 30px;
	}

	.about-team-list {
		white-space: nowrap;
		overflow-y: auto;
	}

	.about-team-list .about-team-list-item {
		margin-right: 15px;
		white-space: normal;
	}

	/* MODAL */

	.modal.modal-right .modal-dialog {
		top: 0;
		height: 100%;
	}

	.modal-profile .modal-header {
		padding: 20px 15px;
	}

	.modal-profile .card-service {
		margin: 0 auto;
	}

	.card-map {
		margin-top: 0;
	}

	/* EXTRA PAGE */

	.section-banner, .section-whatdo {
		padding: 100px 0;
	}

	.py-70, .section-signin {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.card-reviews {
		flex-direction: column;
		text-align: center;
		margin-top: 30px;
	}

	.card-reviews .card-reviews-image {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.button-booknow {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 4;
		width: 100%;
		padding: 15px;
		background-color: #fff;
	}
}


@media screen and (max-width: 575px) {
	.search-tab {
		max-width: 320px;
	}

	.section-signin .card,
	.appointment-list-item,
	.appointments-detail,
	.card-setting,
	.card-credit,
	.card-setting-list,
	.card-checkout,
	.card-checkout-buy {
		padding: 15px;
	}

	.section-signin .signup-link {
		padding-left: 15px;
		padding-right: 15px;
	}

	.card-service-list .card-service-list-price {
		padding-right: 5px;
	}

	.filter-wrap .filter-sort {
		margin-left: auto;
	}

	.card-service-list-price .icon-chevron-down {
		right: 0;
	}
}